body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.insta{
  height: 100px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    width: 100%;
    align-items: center;
}

.left-side {
    flex: 1;
    text-align: center;
}


.left-side h2 {
    font-size: 36px;
    font-weight: 500;
}

.photo{
    width: 500px;
    margin-top: 30px;
}
/*Registration*/
.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 1px solid #dbdbdb;

    min-height: 80vh;

    padding-left:-50px;
    justify-content: center;
}

.login-box {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    background: #fafafa;
    font-size: 12px;
    box-sizing: border-box;
}

.button-login {
    width: 100%;
    background-color: #b2dffc;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 10px;
}

.forgot-password {
    text-align: center;
    font-size: 12px;
    color: #00376b;
    text-decoration: none;
    margin: 20px 0;
}

.extra-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

.button-facebook 
{
    background: none;
    border: 1px solid #dbdbdb;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}
.button-signup {
    background: none;
    border: 1px solid #0095f6;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #0095f6;
}

.met{
    display: flex;
    justify-content: center;
    align-items: center;

}
