/*Main body*/
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1f2328;
    line-height: 1.5;
    margin: 0;
    background-color: white;
}

button {
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #d0d7de;
}

.canvas {
    text-align: center;
    padding: 80px 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.canvas h1 {
    font-size: 48px; 
    font-weight: 800; 
    margin-bottom: 16px; 
}
.canvas p {
    font-size: 20px; 
    color: #656d76; 
    margin-bottom: 32px; 
}

.button-primary { 
    background: #21262d; 
    color: white; 
}

.button-group{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}


.subtitle{
    color: rgb(89, 99, 110);
    font-size: 10px;
    font-weight: 500;
    width: 160px;
    margin-left: 50px;
}
.card-header{
    display: block;
    text-align: center;
    margin-top: -40px;
}

.button-dark { 
    background: #21262d; 
    color: white; 
    width: 100%; 
}
.button-out-rec{
    background: white; 
    color: #1f2328; 
    width: 50%;
}
.button-outline { 
    background: white; 
    color: #1f2328; 
    width: 100%; 
}

.features{
    list-style-type: none;
    padding-left: 0;
    color: rgb(89, 99, 110);
    line-height: 2.5;
    font-size: 13px;
    font-weight: bold;
}
.card.featured{
    outline: 16px solid #be09da;
    background-color: #ffffff;
}
.featured_add_ons{
    color:rgb(9, 105, 218) ;
    margin-top: 30px;
}

.button-rec, .button-out-rec{
    flex:1;
    padding: 12px 10px;
    white-space: nowrap;
    font-size: 14px;
}

.button-rec{
    background: #21262d; 
    color: white; 
    width: 50%;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    width: 200px;
    flex: 1;
    border: 1px solid #d0d7de;
    border-radius: 12px;
    padding: 32px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 12px 24px dimgray;
}


.blue_card{
    border: 10px solid #0969da;
}
.badge {
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    background: #0969da;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px 6px 0 0;
}



.price { 
    font-size: 40px; 
    font-weight: 600; 
    margin: 20px 0; 
}
.price span { 
    font-size: 14px; 
    color: #656d76; 
}

.add-ons { 
    padding: 80px 20px; 
    max-width: 1200px; 
    margin: 0 auto;
}
.add-ons h1{
    text-align: center;
    font-size: 60px;
    margin-top: -60px;
}
.add-on-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.add-on-item {
    border: 1px solid #d0d7de;
    padding: 24px;
    border-radius: 8px;
    line-height: 1;
    font-weight: bold;
    box-shadow: 0 10px 10px #dcdcdc;
}

.add-on-item p{
    color: rgb(89, 99, 110);
}

.add-on-item a{
    color: rgb(31, 35, 40);
    text-decoration: none;
}